@model Dounuts_shop.Models.Donut

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Donut</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LongDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LongDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageThumbnailURL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageThumbnailURL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDonutOfTheWeek)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDonutOfTheWeek)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Instock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Instock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.DonutId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

                        <a class="btn text-white"
                            style="background-color: #df5879 !important; border-radius: 1em !important;"
                            asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-id="@Model.DonutId">
                            <i class="bi-cart"></i> Add to Cart </a>