
@model Donut
@{
ViewData["Title"] = "Donuts Details";
}
    <div class="container mt-5 mb-5">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-10">
                <div class="card">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="images p-3">
                                <div class="text-center p-4"> <img id="main-image" src="@Model.ImageURL" width="250" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="product p-4">
                                <div class="mt-4 mb-3"> 
                                    <h2 class="text-uppercase" style="color: #df5879;">@Model.Name</h2>
                                    <p class="text-muted">your favorite donuts !</p>
                                    <div class="price d-flex flex-row align-items-center">                 
                                        <h5 style="color: #50c0e7;">@Model.Price.ToString("C")</h5>
                                    </div>
                                </div>
                                <h6 class="about" style="color: #243b45;"><i>@Model.LongDescription</i></h6>
                                <br />
                                <a class="btn text-white"
                                    style="background-color: #df5879 !important; border-radius: 1em !important;"
                                    asp-controller="ShoppingCart" asp-action="AddToShoppingCart"
                                    asp-route-id="@Model.DonutId">
                                    <i class="bi-cart"></i> Add to Cart </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



@*
CSS Colors codes
hot pink -> #ce2761
rose -> #f3a3b2
white -> #ffffff
black -> #262626
Blue -> #50c0e7
Pink -> #df5879
Dark Blue -> #243b45
*@